




body {
  background-color: #3d6b1eea; 
}



.btn {
    background-color: rgb(43, 177, 31);
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgb(50, 200, 50);
}



    * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.content {
  padding-top: 80px; 
}

.navbar {
  position: sticky;       /* barre toujours en haut */
  top: 0;
  width: 100%;           /* toute la largeur */
  background-color: #0f172a; /* fond sombre */
  color: white;
  display: flex;         /* pour aligner logo + menu */
  justify-content: space-between; /* espace entre logo et menu */
  align-items: center;   /* centrer verticalement */
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #38bdf8;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
  color: #38bdf8;
  transform: scale(1.1);
}

.grnfrlogo{
  float: left;
}